@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');

body {
  font-family: 'Oxygen', sans-serif
}

.App {
  text-align: center;
}

.stack {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #222834;
  height: 100vh!important;
  max-height: 100vh!important;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: none;
}


@keyframes Rise {
  0% {
    opacity: 0;
    transform: TranslateY(60px);
  }

  100% {
    opacity: 1;
    transform: TranslateY(0px)
  }
}