@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');

body {
  font-family: 'Oxygen', sans-serif
}

.App {
  text-align: center;
}

.stack {
  display: flex;
  flex-direction: column;
}

.appContent{
  background-color: #222834;
  /* height: 100vh!important; */
  /* max-height: 100vh!important; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: none;
  text-align: center;
}

.fixer {
  display: none;
}


@keyframes Rise {
  0% {
    opacity: 0;
    transform: TranslateY(60px);
  }

  100% {
    opacity: 1;
    transform: TranslateY(0px)
  }
}

@keyframes CardDeal {
  0% {
    position: absolute;
  }

  100% {
    position: relative;
  }
}

@media (max-width: 720px) {
  .App-header {
    padding-bottom: 50px;
  }
}