@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');

body {
  font-family: 'Oxygen', sans-serif
}

.App {
  text-align: center;
}

.stack {
  display: flex;
  flex-direction: column;
}

.appContent{
  background-color: #151B26;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: none;
  text-align: center;
}


@keyframes Rise {
  0% {
    opacity: 0!important;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible ;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 720px) {
  .App-header {
    padding-bottom: 50px;
  }
}